<?xml version="1.0" encoding="utf-8"?>
<manifest package="ch.rmy.android.statusbar_tacho"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-feature android:name="android.hardware.location.gps" android:required="true"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:theme="@style/LightTheme">
        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.ShortcutActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.DummyActivity"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:noHistory="true"
            android:theme="@style/Theme.Transparent">
            <intent-filter>
                <action android:name="ch.rmy.android.statusbar_tacho.enable"/>
                <action android:name="ch.rmy.android.statusbar_tacho.disable"/>
                <action android:name="ch.rmy.android.statusbar_tacho.toggle"/>
            </intent-filter>
        </activity>

        <service android:name=".services.SpeedometerService"/>

    </application>

</manifest>
